/* 
 * These colors are used: #26215D #D9DBF1 #222222 #FFFFFF #FF8484
 * See https://github.com/slothsoft/shera-translator/issues/7
 */
 
* {
 	margin: 0; 
 	padding: 0;
}
 
body {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #D9DBDA;
	margin: 0;
}

#header {
	background-color: #26215D;
	color: #FFFFFF;
	padding: 5pt;
	height: 25pt;
}

#header img {
	height: 18pt;
	margin: 1pt 5pt;
}

#header h1 {
	font-size: 20pt;
	display: inline;
}

.content {
	max-width: 800px;
	margin: auto;
}

.translator-content {
	background-color: #FFFFFF;
	padding: 15px;
	position: absolute;
	top: 35pt; /* header height */
	bottom: 22pt; /* footer height */
	/** this centers the div */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#input {
	float: left;
}

#input textarea {
	border: 1px solid #222222;
	resize: none;
	width: 100%;
	height: calc(100% - 70pt);
}

#input #settings-wrapper {
	width: 100%;
}

#input #settings {
	margin-top: 15pt;
	border: 1px solid #222222;
	height: 50pt;
}
	
#input #settings h2 {
	background-color: #26215D;
	border-bottom: 1px solid #222222;
	color: #FFFFFF;
	padding: 2pt;
}

#input #settings table {
	padding: 2pt;
	width: 100%;	
}

#input #settings input, #input #settings select {
	width: 99%;	
}

#result {	
	float: right;
}

#input, #result {
	height: 100%;
	/* Makes these two divs to two columns */
	width: 48%;
}

/* Clear floats after the columns */
.translator-content:after {
	content: "";
	display: table;
	clear: both;
}

#big-container {	
	border: 1px solid #222222;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

#single-sounds {
	overflow-y:	scroll;
}

#words {
	background-color: #26215D;
	overflow: scroll;
}

#footer {
	background-color: #26215D;
	color: #FFFFFF;
	padding: 5pt;
	height: 12pt;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer a {
	color: #FFFFFF;
}

/* My very own tab folder :) */

.tab {
	overflow: hidden;
	height: 36pt;
}

.tab button {
	border: 1px solid #26215D;
	background-color: #D9DBF1;
	color: #222222;
	float: left;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #FF8484;
}

.tab button.active {
	background-color: #26215D;
	color: #FFFFFF;
}

.tab-content {
	display: none;
	border: 1px solid #222222;
	height: calc(100% - 37pt);
}
